
# Emacs lock/links on linux
.[#]*
# Emacs backups (windows)
[#]*[#]
# emacs backups
*~
# Generic editor backups
*.bak
# Objects & libraries
*.[ao]
*.l[ao]
*.so
*.swp

# Autoconf
m4
aclocal.m4
autom4te.cache
config.h.in
config.log
config.status
configure
libtool
Makefile
Makefile.in

# Build inside border router of wpantund
._build


# Build bi-products.
.local-version
.deps
.libs
.dirstamp
stamp-h1
.stamp-h1

# Border Router Docs
doc/Doxyfile
doc/html

# Debugger stuff.
.gdb_history
.gdbinit


# Configure results for border router
include/otbr-config.h
include/otbr-config.h.in


# VIM swap files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]


# Border router agent
src/agent/otbr-agent
src/agent/otbr-agent.service
src/agent/otbr-agent.init
src/agent/otbr-agent.conf

# Border router web service
src/web/otbr-web
src/web/otbr-web.service
src/web/otbr-web.init

# Test code.
tests/mdns/otbr-test-mdns
tests/meshcop/otbr-commissioner
tests/testdriver

# all things here.
third_party/mbedtls/repo
third_party/wpantund/wpantund.service

# Tools
tools/pskc
tools/steering-data

# Commissioner
src/commissioner/otbr-commissioner

# libcoap build
third_party/libcoap/repo/libcoap-1.map
third_party/libcoap/repo/libcoap-1.sym
