[submodule "third_party/openthread/repo"]
	path = third_party/openthread/repo
	url = https://github.com/openthread/openthread.git
	branch = master
[submodule "third_party/d3js/repo"]
	path = third_party/d3js/repo
	url = git@github.com:d3/d3.git
