language: python
python: "3.6"

dist: bionic
os: linux

cache:
  directories:
  - $HOME/.cache/tools

before_install: ./tests/scripts/bootstrap.sh
script: .travis/script.sh
after_success:
  - .travis/after_success.sh

jobs:
  include:
    - env: BUILD_TARGET="docker-check" OTBR_COVERAGE=1 VERBOSE=1
    - env: BUILD_TARGET="docker-check" OT_POSIX_CONFIG_RCP_BUS=SPI OTBR_COVERAGE=1 VERBOSE=1
    - env: BUILD_TARGET="openwrt-check" VERBOSE=1
    - env: BUILD_TARGET="meshcop" OTBR_COVERAGE=1 VERBOSE=1
