language: cpp

sudo: required
dist: trusty

cache:
  directories:
  - $HOME/.cache/tools

before_install: .travis/before_install.sh
script: .travis/script.sh
matrix:
  include:
    - env: BUILD_TARGET="pretty-check"
      os: linux
    - env: BUILD_TARGET="posix-check" VERBOSE=1
      compiler: gcc
      os: linux
    - env: BUILD_TARGET="raspbian-gcc" VERBOSE=1
      compiler: gcc
      os: linux
    - env: BUILD_TARGET="script-check"
      compiler: gcc
      os: linux
    - env: BUILD_TARGET="scan-build"
      os: linux
      compiler: clang
