<%+header%>

<h2><%:Thread Documentation%></h2>
<br />
<div id="container">
    <h4><%:Getting started with the Cascoda KNX-IOT Devkit%></h4> 
    <br>
    <a style="margin: 50px" href="https://github.com/Cascoda/cascoda-sdk-priv/blob/master/docs/how-to/howto-knxiot-devkit.md">https://github.com/Cascoda/cascoda-sdk-priv/blob/master/docs/how-to/howto-knxiot-devkit.md</a>
    <br>
    <h4><%:How to Thread%></h4>
    <br>
    <a style="margin: 50px" href="https://github.com/Cascoda/cascoda-sdk-priv/blob/master/docs/how-to/howto-thread.md">https://github.com/Cascoda/cascoda-sdk-priv/blob/master/docs/how-to/howto-thread.md</a>
    <br>
</div>

<%+footer%>

